###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
/.github/CODEOWNERS                             @hiero-ledger/github-maintainers
/.github/workflows/                             @hiero-ledger/github-maintainers

# NodeJS project files
package.json                                    @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
package-lock.json                               @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
.remarkrc                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
**/LICENSE                                      @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
**/.gitignore.*                                 @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
