/.github/                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers

package.json                                    @hiero-ledger/hiero-website-maintainers
package-lock.json                               @hiero-ledger/hiero-website-maintainers

.remarkrc                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers

/CODEOWNERS                                     @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-website-maintainers @hiero-ledger/hiero-website-committers
**/LICENSE                                      @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/hiero-website-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/hiero-website-maintainers
**/.gitignore.*                                 @hiero-ledger/hiero-website-maintainers
