baseURL = 'https://hiero.org/'
languageCode = 'en-us'
title = 'Hiero'

[services]
  [services.googleAnalytics]
    id = "G-CFHSWYZWW8"

[privacy]
  [privacy.googleAnalytics]
    disable = false
    respectDoNotTrack = true

[[module.mounts]]
source = 'static'
target = 'static'

[[module.mounts]]
source = 'images'
target = 'static/images'



[[menus.main]]
name = 'Good First Issues'
url = 'https://github.com/issues?q=is%3Aopen%20is%3Aissue%20org%3Ahiero-ledger%20archived%3Afalse%20no%3Aassignee%20(label%3A%22good%20first%20issue%22%20OR%20label%3A%22skill%3A%20good%20first%20issue%22)%20(repo%3Ahiero-ledger%2Fhiero-sdk-cpp%20OR%20repo%3Ahiero-ledger%2Fhiero-sdk-swift%20OR%20repo%3Ahiero-ledger%2Fhiero-sdk-python%20OR%20repo%3Ahiero-ledger%2Fhiero-website)'
weight = 20

[[menus.main]]
name = 'Contribute'
url = '/#contribute'
weight = 30

[[menus.main]]
name = 'Repositories'
url = '/#repos'
weight = 35

[[menus.main]]
name = 'Connect'
url = '/#connect'
weight = 40

[[menus.main]]
name = 'Blog'
url = '/blog/'
weight = 60

[[menus.main]]
name = 'Calendar'
url = 'https://zoom-lfx.platform.linuxfoundation.org/meetings/hiero?view=week'
weight = 70

[permalinks]
  [permalinks.page]
    posts = '/blog/:slug/'
  [permalinks.section]
    posts = '/blog/'

[params.blog.list]
displayTags = true
sortBy = "date"
sortOrder = "desc"

[params.blog.article]
displayPagination = false

[markup.goldmark.renderer]
unsafe = true

[markup]
  [markup.highlight]
    style = 'monokai'

[params]
fallbackBlogFeaturedImage = '/images/HI60000_GetInvolvedBanner_V1.jpg'
enableImageLazyLoading = true

[params.shareButtons]
networks = [ "linkedin", "telegram", "twitter", "email" ]
size = "small"
icon = "solid"
buttonMargin = "0.2em"

[related]
threshold = 80
includeNewer = true
toLower = true

[[related.indices]]
name = "tags"
weight = 100
