{{ define "main" }}
<div id="hero" class="bg-gray-800">
  <div class="container py-12 sm:py-16 text-white">
    <h1 class="text-5xl">{{ $.Param "section_hero_heading" | safeHTML }}</h1>
    <p>{{ $.Param "section_hero_text" | safeHTML }}</p>
  </div>
</div>
<div id="what-is-hiero" class="pt-16 -mt-16">
  <div class="bg-gray-200">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_what_is_hiero_heading" | safeHTML }}</h2>
      <p>{{ $.Param "section_what_is_hiero_text" | $.RenderString }}</p>
      <div class="pl-4">
        {{ range .Param "section_what_is_hiero_points" }}
          <h3 class="mt-4 text-2xl">{{ .heading | safeHTML }}</h3>    
          <p>{{ .text | safeHTML }}<p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div id="open-source" class="pt-16 -mt-16">
  <div class="bg-slate-300">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_why_open_source_heading" | safeHTML }}</h2>
      <p>{{ $.Param "section_why_open_source_text" | safeHTML }}</p>
    </div>
  </div>
</div>
<div id="what-parts" class="pt-16 -mt-16">
  <div class="bg-gray-200">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_what_parts_open_source_heading" | safeHTML }}</h2>
      <p>{{ $.Param "section_what_parts_open_source_text" | $.RenderString }}</p>
    </div>
  </div>
</div>
<div id="why-contribute" class="pt-16 -mt-16">
  <div class="bg-slate-300">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_why_contribute_heading" | safeHTML }}</h2>
      <p>{{ $.Param "section_why_contribute_text" | $.RenderString }}</p>
      <div class="pl-4">
        {{ range .Param "section_why_contribute_points" }}
          <h3 class="mt-4 text-2xl">{{ .heading }}</h3>    
          <p>{{ .text | safeHTML }}<p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div id="contribute" class="pt-16 -mt-16">
  <div class="bg-gray-200">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_getting_started_heading" | safeHTML }}</h2>
      <div class="space-y-4">{{ $.Param "section_getting_started_text" | safeHTML }}</div>
    </div>
  </div>
</div>
<div id="connect" class="pt-16 -mt-16">
  <div class="bg-slate-300">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_connect_heading" | safeHTML }}</h2>
      <div class="space-y-4">{{ $.Param "section_connect_text" | safeHTML }}</div>      
    </div>
  </div>
</div>
<div id="technical-steering-committee" class="pt-16 -mt-16">
  <div class="bg-gray-200">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_technical_steering_committee_heading" | safeHTML }}</h2>
      <div class="space-y-4">{{ $.Param "section_technical_steering_committee_text" | safeHTML }}</div>
      <div class="mt-8 mb-4">{{ $.Param "section_technical_steering_committee_individuals_heading" | safeHTML }}</div>
      <div class="team-members grid grid-cols-3 gap-6">
        {{ $sortedCommittee := sort $.Site.Data.technical_steering_committee "lastName" }}
        {{ range $sortedCommittee}}
        <div class="team-member text-center">          
          <img src="images/tsc/{{ .photo }}" alt="{{ .firstName }} {{ .lastName }}" class="w-48 h-48 rounded-full mx-auto">
          <h3 class="text-xl font-semibold">{{ .firstName }} {{ .lastName }}</h3>
          <p><a href="{{ .gitHubAccount }}" target="_blank" rel="noopener">{{ .gitHubAccount }}</a></p>
          <p class="text-gray-500 mt-2 space-y-4">{{ .bio | safeHTML }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div id="roadmap" class="pt-16 -mt-16">
  <div class="bg-slate-300">
    <div class="container py-12 sm:py-16">
      <h2 class="text-3xl">{{ $.Param "section_roadmap_heading" | safeHTML }}</h2>
      <div class="space-y-4">{{ $.Param "section_roadmap_text" | safeHTML }}</div>
      <div class="pl-4">
        {{ range .Param "section_roadmap_points" }}
          <h3 class="mt-4 text-2xl">{{ .heading }}</h3>    
          <p>{{ .text | safeHTML }}<p>
        {{ end }}
      </div>
    </div>
  </div>
</div> 
{{ end }}
