{{ define "main" }}
{{ $heroGraphic := resources.Get "/images/hero-graphic.png" }}
{{ $fpoIconSmall := resources.Get "/images/fpo-icon-small.png" }}
{{ $fpoIconLarge := resources.Get "/images/fpo-icon-large.png" }}
<div id="hero" class="bg-white relative">
  <div class="container pt-44 pb-52 text-black bg-white">
    {{ with $heroGraphic }}
    <img src="{{ $heroGraphic.RelPermalink }}" width="{{ $heroGraphic.Width }}" height="{{ $heroGraphic.Height }}" class="absolute bottom-0 right-0">
    {{ end }}
    <h1 class="text-[90px] leading-none relative">{{ $.Param "section_hero_heading" | safeHTML }}</h1>
    <p class="text-2xl relative">{{ $.Param "section_hero_text" | safeHTML }}</p>    
  </div>
</div>
<!-- WHAT IS HIERO -->
<div id="what-is-hiero" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 grid grid-cols-[35%_1fr] gap-32">
      <div>
        <h2 class="text-6xl">{{ $.Param "section_what_is_hiero_heading" | safeHTML }}</h2>
        <p>{{ $.Param "section_what_is_hiero_text" | $.RenderString }}</p>
      </div>
      <div class="flex flex-col gap-10">
        {{ range .Param "section_what_is_hiero_points" }}
        <div class="grid grid-cols-[55px_1fr] gap-10">   
          {{ $icon := resources.Get .icon }}
          {{ with $icon }}
          <img src="{{ $icon.RelPermalink }}" width="{{ $icon.Width }}" height="{{ $icon.Height }}">
          {{ end }}
          <div>
            <h3 class="text-2xl mb-2 [&>strong]:text-red-400">{{ .heading | safeHTML }}</h3>    
            <p>{{ .text | safeHTML }}<p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<hr class="h-1 bg-red-400"/>
<!-- OPEN SOURCE -->
<div id="open-source" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 flex flex-col gap-10">
      <div class="grid grid-cols-2 gap-10">
        <div class="order-1 sm:order-2">
          <h2 class="text-3xl">{{ $.Param "section_why_open_source_heading" | safeHTML }}</h2>
          <p>{{ $.Param "section_why_open_source_text" | safeHTML }}</p>
        </div>
        <div class="order-2 sm:order-1">
          {{ with $fpoIconLarge }}
          <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
          {{ end }}
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10">
        <div class="order-1">
          <h2 class="text-3xl">{{ $.Param "section_what_parts_open_source_heading" | safeHTML }}</h2>
          <p>{{ $.Param "section_what_parts_open_source_text" | $.RenderString }}</p>
        </div>
        <div class="order-2">
          {{ with $fpoIconLarge }}
          <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
          {{ end }}
        </div>
      </div>
    </div><!-- end container -->    
  </div> 
</div> 
<!-- WHY CONTRIBUTE? -->
<div id="why-contribute" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 text-center">
      <div class="pb-16">
        <h2 class="text-6xl">{{ $.Param "section_why_contribute_heading" | safeHTML }}</h2>
        <p>{{ $.Param "section_why_contribute_text" | $.RenderString }}</p>
      </div>
      <div class="grid grid-cols-3 gap-10">
        {{ range .Param "section_why_contribute_points" }}
          <div class="bg-black text-white p-8 text-left">
            <h3 class="text-3xl mb-4">{{ .heading }}</h3>    
            <p>{{ .text | safeHTML }}</p>
          </div>
        {{ end }}        
      </div>
    </div>
  </div>
</div>
<hr class="h-1 bg-red-400"/>
<!-- CONTRIBUTE -->
<div id="contribute" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 grid grid-cols-2 gap-10">
      <div>
        <h2 class="text-6xl mb-8">{{ $.Param "section_getting_started_heading" | safeHTML }}</h2>
        <div class="space-y-4">{{ $.Param "section_getting_started_text" | safeHTML }}</div>
      </div>
      <div class="grid grid-cols-2 gap-10">
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
      </div>
    </div>
  </div>
</div>
<hr class="h-1 bg-red-400"/>
<!-- CONNECT -->
<div id="connect" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 grid grid-cols-2 gap-10">
      <div class="order-1 sm:order-2">
        <h2 class="text-6xl">{{ $.Param "section_connect_heading" | safeHTML }}</h2>
        <div class="space-y-4">{{ $.Param "section_connect_text" | safeHTML }}</div>
      </div>
      <div class="order-2 sm:order-1 grid grid-cols-2 gap-10">
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
        {{ with $fpoIconLarge }}
        <img src="{{ $fpoIconLarge.RelPermalink }}" width="{{ $fpoIconLarge.Width }}" height="{{ $fpoIconLarge.Height }}">
        {{ end }}
      </div>      
    </div>
  </div>
</div>
<hr class="h-1 bg-red-400"/>
<!-- TECHNICAL STEERING COMMITTEE -->
<div id="technical-steering-committee" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-28 grid grid-cols-2 gap-10">
      <div>
      <h2 class="text-6xl mb-4">{{ $.Param "section_technical_steering_committee_heading" | safeHTML }}</h2>
      <div class="space-y-4">{{ $.Param "section_technical_steering_committee_text" | safeHTML }}</div>
      </div>
      <!--<div class="mt-8 mb-4">{{ $.Param "section_technical_steering_committee_individuals_heading" | safeHTML }}</div>-->
      <div class="team-members grid grid-cols-2 gap-10">
        {{ $sortedCommittee := sort $.Site.Data.technical_steering_committee "lastName" }}
        {{ range $sortedCommittee}}
        <div class="team-member">          
          <img src="images/tsc/{{ .photo }}" alt="{{ .firstName }} {{ .lastName }}" class="w-full">
          <h3 class="text-xl font-semibold">{{ .firstName }} {{ .lastName }}</h3>
          <div class="flex flex-row gap-2 items-center">
            <button class="text-red-400 border-2 border-red-400 border-solid rounded-full py-1 px-4">Bio</button>
            <a href="{{ .gitHubAccount }}" target="_blank" rel="noopener">icon</a>
          </div>         
          <!-- <p class="text-gray-500 mt-2 space-y-4">{{ .bio | safeHTML }}</p> -->
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<hr class="h-1 bg-red-400"/>
<!-- ROADMAP -->
<div id="roadmap" class="anchor">
  <div class="bg-white">
    <div class="container py-12 sm:pt-32 sm:pb-0 sm:py-16 grid grid-cols-2 gap-10">
      <div>
        <h2 class="text-6xl mb-4">{{ $.Param "section_roadmap_heading" | safeHTML }}</h2>
        <div class="space-y-4">{{ $.Param "section_roadmap_text" | safeHTML }}</div>
      </div>
      <div>
        {{ range .Param "section_roadmap_points" }} 
        <div class="grid grid-cols-[55px_1fr] gap-10">
          <div class="flex flex-col">
            {{ $icon := resources.Get .icon }}
            {{ with $icon }}
            <img src="{{ $icon.RelPermalink }}" width="{{ $icon.Width }}" height="{{ $icon.Height }}" class="border-2 border-black">
            {{ end }}
            <div class="bg-black w-0.5 flex-1 mx-auto"></div>
          </div>
          <div class="pb-20">
            <h3 class="text-2xl mb-2">{{ .heading }}</h3>    
            <p>{{ .text | safeHTML }}</p>
          </div>
          
        </div>
        {{ end }}
      </div>
    </div> <!-- end container -->
  </div>
</div> 
{{ end }}
