@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme('fontFamily.serif');
  line-height: 1.5;
  margin: 0;
  color: theme('colors.black');
  /* background-color: bisque; */
}

header {
  border-bottom: 1px solid theme('colors.black');
}

footer {
  border-top: 1px solid theme('colors.black');
}

a {
  color: theme('colors.red.DEFAULT');
  text-decoration: underline;
}

nav a {
  color: theme('colors.white.DEFAULT');
  text-decoration: none;
  font-size: 2.375rem;
  line-height: 5.188rem;
  letter-spacing: -0.128rem;
}

@media(min-width: 640px) {
  nav a {
    color: theme('colors.black');
    font-size: theme('fontSize.base');
    line-height: theme('fontSize.base.1.lineHeight');
    letter-spacing: theme('fontSize.base.1.letterSpacing');
  }
}

.anchor {
  margin-top: -6.813rem; /*-109px*/
  padding-top: 6.813rem; /*109px*/
}

.anchor--roadmap {
  margin-top: -5rem; /* -80px */
  padding-top: 5rem; /*80px*/
}

@media(min-width: 640px) {
  .anchor--open-source {
    margin-top: -12.5rem; /*-200px*/
    padding-top: 12.5rem; /*200px*/
  }
  .anchor--roadmap {
    margin-top: 0rem; /*0px*/
    padding-top: 0rem; /*0px*/
  }
 
}

.active-bio {
  display: flex;
}

.active-navigation {
  display: flex;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.563rem;
  padding-left: 1.563rem
}

.container-mobile-full {
  padding:0;
}

@media(min-width: 640px) {
  .container {
      max-width:768px;
  }
  .container-mobile-full {
    padding:0;
  }
}

@media(min-width: 768px) {
  .container {
      max-width:1024px;
      padding-right: 3rem;
      padding-left: 3rem
  }
  .container-mobile-full {
    padding:0;
  }
}

@media(min-width: 1024px) {
  .container,
  .container-mobile-full {
      max-width:1820px;
      padding-right: 8.75rem;
      padding-left: 8.75rem
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  max-width: 932px;
}

.swiper-slide  {
  text-align: center;
  font-family: theme('fontFamily.serif');
  font-size: theme('fontSize.lg');
}

.swiper .swiper-button {
  top: auto;
  bottom: 80px;
  color: theme('colors.black');
  background-color: theme('colors.white.dark');
  height: 35px;
  width: 35px;
}

.swiper .swiper-button::after {
  font-size: 14px;
}

.swiper .swiper-button-prev {
  left: calc(50% - 40px);
}

.swiper .swiper-button-next {
  right: calc(50% - 40px);
}

