<div class="bg-black text-base text-white-dark text-center py-8">
    <div class="container">
        <p>© 2024 The Hiero Authors | Documentation Distributed under CC BY 4.0 | Copyright © 2024 The Linux Foundation ®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/legal/trademark-usage" target="_blank" rel="noreferrer noopener" class="text-white-dark">Trademark Usage page</a>.</p>
    </div>
</div>
