<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex, nofollow">
<title>Hiero | {{ .Title }}</title>
<meta name="description" content="{{ .Params.abstract }}">
{{- $image := .Params.featured_image }}
{{- if $image }}
    {{- $isLocal := not (urls.Parse $image).Scheme -}}
    {{- $startsWithSlash := hasPrefix $image "/" -}}                       
    {{- if and $isLocal $startsWithSlash }}
        {{- $image = absURL (relURL (strings.TrimPrefix "/" $image)) -}}
    {{ else if $isLocal }}
        {{ $relativePath := printf "%s%s" .RelPermalink $image }}
        {{- $image = absURL $relativePath -}}
    {{ end -}}
{{ else }}
    {{- $image = absURL .Site.Params.fallbackBlogFeaturedImage }}
{{ end -}}
<meta property="og:image" content="{{ $image }}">
{{ partial "head/css.html" . }}
{{ partialCached "head/js.html" . }}
