{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <button class="sm:hidden" onclick="showMobileNav()"> 
    {{ $icon := resources.Get "images/Hiero-Icon-Nav-Menu.svg" }}
    {{ with $icon }}      
    <img src="{{ $icon.RelPermalink }}" class="w-5 h-5">
    {{ end }}
  </button>
  <nav id="navigation" class="absolute hidden items-center justify-center w-full h-screen bg-black top-0 left-0 text-white sm:relative sm:h-auto sm:top-auto sm:bg-transparent sm:left-auto  sm:w-9/12 sm:max-w-3xl sm:block" aria-hidden="false">
    <div class="absolute top-[35px] text-lg text-white font-bold sm:hidden">Navigation</div>
    <button class="absolute text-white top-[35px] right-[25px] sm:hidden" onclick="hideMobileNav()"> 
      {{ $icon := resources.Get "images/Hiero-Icon-ModalClose.svg" }}
      {{ with $icon }}      
      <img src="{{ $icon.RelPermalink }}" class="w-5 h-5">
      {{ end }}
    </button>
    <ul id="menu" class="flex flex-col sm:flex-row justify-between">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="text-center sm:text-left">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        onclick="hideMobileNav()"
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
